Simple use of eko-RatingInput
<pre >
  <span style="background-color: #eee; display: block; padding-bottom: 20px;" [innerText]="codeBasic"></span>
  <eko-RatingInput
    [fontSize]="'16px'"
    [editable]="false"
    [value]="3"
  ></eko-RatingInput>
</pre>

<hr>
Use as a Input eko-RatingInput
<pre >
  <span style="background-color: #eee; display: block; padding-bottom: 20px;" [innerText]="codeBasicInput"></span>
  <eko-RatingInput
    (ratingValueOutput)="getRattingValueInput($event)"
    [fontSize]="'16px'"
  ></eko-RatingInput>

  selectedValueis: {{selectedValue}}
</pre>

<hr>
addProperties Like fontSize, Color, Add Rating Number Label
<pre >
  <span style="background-color: #eee; display: block; padding-bottom: 20px;" [innerText]="codeBasicInputColorAndFontSizeAndNumberAndLabel"></span>
  <eko-RatingInput
    [starColor]="'#4FEE4A'"
    [labelColor]="'#4FEE4A'"
    [fontSize]="'28px'"
    [rateNumber]="true"
>Star Ratting</eko-RatingInput>
  <br>
  <eko-RatingInput
    [starColor]="'#aaa'"
    [labelColor]="'#333'"
    [fontSize]="'28px'"
    [rateNumber]="true"
>Star Ratting</eko-RatingInput>
  <br>


</pre>

